*
{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after
{
    clear: both;
    content: " ";
    display: table;
}
nav
{
    background-color: white;
}
.menu
{
    width: 60%;
}
nav ul 
{
    list-style: none;
}

.fr
{
    float: right;
    
}

.fl
{
    float: left;
    width: 100%;
}

nav ul li
{
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    font-weight: bold;
}

nav .fr 
{

}

nav a
{
    text-decoration: none;
    color: black;
}
header h1{
    font-size: 60px;
    float: left;
    padding-left: 200px;
    text-align: start;
}
.riga
{
    width: 30%;
    font-size: 20px;
    margin-left: 5%;

}
nav button
{
    padding: 5px;
    background-color: lightskyblue;
    border: none;
}
header .riga, .img
{
    float: left;
    padding-top: 30px;
}
.img{
    width: 60%;
    padding-left: 50px;
}
header
{
    background-color: lightblue;
    height: 60vh;
}

.first-li
{
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.riga button
{

    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: rgb(84, 84, 204);


}
 span
 {
    float: left;
 }

/* primo gruppo di colonne(3 colonne  e 1 riga) */
.titolo
{
    float: left;
    font-size: 50px;
    font-weight: bold;
}

.first-li
{
    font-size: 20px;
    padding-bottom: 20px;

}

.titolo-colonna
{
    padding-top: 20px;
}

.testo1
{
    display: inline-block;
}

.colonna
{
    width: calc(100% / 3 - 40px);
    margin: 20px;
    list-style: none;
    border: 1px solid lightgrey;
}

/* bottone tabella */
.bottone8
{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(51, 105, 204);
    border: none;
    margin-bottom: 20px;
    
}



.icon-li li
{
    padding-bottom: 10px ;
}

.icon-li ul
{
  padding-bottom: 30px;
}

 .colonna ul li
{
    list-style: none;
    font-size: 20px;
}

.icon-li


.grigio-chiaro
{
color: lightgray;
}

.icon-li li::before 
{
    content:"\260E";
    float: left;
}

.icon-li-2 li::before
{
    content: "\1F5F8";
    float: left;
}

.icon-li-2 li
{
    padding-bottom: 10px ;
}

.icon-li-2 ul
{
  padding-bottom: 30px;
}




.riga2
{
    width: 100%;
    border: 1px solid black;
}
.giu
{
    margin-bottom: 100px;
}
.pulsante-riga
{
    padding: 0px;
    background-color: cornflowerblue;
    font-size: 24px;
    border: none;
    position: absolute;
    top: 100px;
    right:  10px;
    padding: 20px;
}

.riga2 >div:first-child
{
    text-align: center;
    border: none; 
    border-bottom: 1px solid black; 
    padding: 20px; 
}

.titolo-riga{
    padding: 40px;
}

.bottone-riga
{
    margin-top: 30px;
    padding: 10px;
    font-size: 24px;
    background-color: white;
}

/* foto e testo blocco dopo la riga */
.img1
{
    width: 50%;
}

.testo3
{
    width: 400px;
    padding-left: 100px;
    padding-top: 100px;
}

/* blocco 6 colonne e titolo */
/* cit. classe colonna clearfix fl */

.testo4
{
    font-weight: bold;
    padding: 10px;
}

.a{
    border: none;
}

.testo5
{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

.padding
{
    padding-bottom: 30px;
}
/* galleria */
aside .colonna
{
    background-color: lightgray;
    padding: 0%;
    margin: 0%;
    border: none;
    width: calc(100% / 3 );
    margin: auto;
    height: 50vh;
}
.testo-galleria2
{
    width: 80%;
    text-align: start;
    margin: auto;
    padding: 30px;
    font-weight: bold;
}

.bottone-galleria
{
    float: left;
    width: 50%;
    padding-left: 60px;
    text-align: center;
    margin-top: 30px;
        
}
    
.bottone-galleria button
{
    padding:10px;
    font-size: 18px;
}
    
.relative
{
    position: relative;
}
.absolute
{
    position: absolute;
}
.logo-basso
{
    width: 140px;
    padding: 20px;
}
.quadrato
{
    width: 50%; 
    height: 25vh; 
}
/* colori galleria  colonna sx*/
.lightgreen 
{
    background-color: lightgreen;
}

.brown
{
    background-color: brown;
}

.cornflowerblue 
{
    background-color: cornflowerblue;
}

.red
{
    background-color: red;
}

/* colori galleria colonna dx */
.lightred 
{
    background-color: rgb(185, 69, 69);
}

.lightskyblue
{
    background-color:lightskyblue;
}

.blue 
{
    background-color: blue;
}

.yellow
{
    background-color: yellow;
}


.centra
{
    width: 150px;
    text-align: center; 
    position: absolute; 
    transform: translate(-50% , -50%); 
    left: 50%; 
    top: 50%;
}

.solo-centra
{
    transform: translate(-50% , -50%); 
    left: 50%; 
    top: 50%;
    text-align: center;
}

.testo-galleria 
{   padding: 200px;
    width: 50%;
    float: left;
    text-align: center;
    margin: auto;
}

.bottone-sotto-galleria
{
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.grandezza-bottone-galleria
{
    width: 50%;
    padding: 190px;
}
/* blocco delle faq  */

.cont-faq
{
}
.faq
{
    list-style: none;
    font-size: 24px;
    text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 40px;
}

.faq li
{
    padding: 20px 20px 20px 0px;
    text-align: start;
    border-top: 1px solid rgba(236, 234, 234 , 0.6);
    border-bottom: 1px solid rgba(236, 234, 234 , 0.6);

}

.faq li:first-child
{
    border-top: none;
}

.foot
{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color:  black;
}

.foot ul
{
    padding-left: 80px;
    padding-top: 100px;
    width: 20%;
    text-align: center;
    list-style: none;
    float: left;
}

.foot li
{
padding-bottom: 10px;
color: lightgrey;
}

hr
{
    width: 70px;
    margin-bottom: 20px;
}

.foot ul li:first-child
{
font-weight: bold;
color: white;
}

.faq li span{
}

.quadrato img
{
    filter: invert();
}