*
{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after
{
    clear: both;
    content: " ";
    display: table;
}
nav
{
    background-color: white;
}
.menu
{
    width: 40%;
}
nav ul 
{
    list-style: none;
}

.fr
{
    float: right;
    
}

.fl
{
    float: left;
    width: 100%;
}

nav ul li
{
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    font-weight: bold;
}

nav .fr 
{

}

nav a
{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 60px;
    float: left;
    padding-left: 200px;
    text-align: start;
}
.riga
{
    width: 30%;
    font-size: 20px;
    margin-left: 5%;

}
nav button
{
    padding: 5px;
    background-color: lightskyblue;
    border: none;
}
header .riga, .img
{
    float: left;
    padding-top: 30px;
}
.img{
    width: 60%;
    padding-left: 50px;
}
header
{
    background-color: lightblue;
    height: 60vh;
}

.first-li
{
    text-align: center;
    font-weight: bold;
}
.riga button
{

    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: rgb(84, 84, 204);


}
 span
 {
    float: left;
 }

/* primo gruppo di colonne(3 colonne  e 1 riga) */
.titolo
{
    float: left;
    font-size: 50px;
    font-weight: bold;
}


.testo1
{
    display: inline-block;
}

.colonna
{
    width: calc(100% / 3 - 40px);
    margin: 20px;
    list-style: none;
    border: 1px solid lightgrey;
    padding: 20px;
}

 .colonna ul li
{
    list-style: none;
    font-size: 20px;

}

.grigio-chiaro
{
color: lightgray;
}

.icon-li::before
{
    content:url("../img/logo-small.png");
}

.pulsante-riga
{
    padding: 20px;
    background-color: cornflowerblue;
    font-size: 24px;
    border: none;
    position: relative;
    top: 30px;
    right: 30px;
}


.colonna ul li:first-child
{
    border-bottom: 1px solid lightgrey;
}

.riga2
{
    border: 1px solid black;
    background-color: lightcyan;

}
.riga2 div:first-child
{
    text-align: center;
    border: none; 
    border-bottom: 1px solid black; 
    padding: 20px; 
}


.riga2 ul li
{
    font-size: 50px;
    list-style: none;
}

.riga2 ul
{
    display: inline-block;
    vertical-align: top;
    
}
.riga2 ul:last-child
{
    float: right;
}

.img1
{
    width: 50%;
}

.testo3
{
    width: 300px;
    margin: auto;
    text-align: center;
}

/* galleria */
.testo-galleria 
{
    width: 50%;
    float: left;
    text-align: center;
}
.testo-galleria2
{
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 300px;
    margin: auto;
    font-size: 20px;
}
.testo-galleria3
{
    width: 80%;
    float: left;
    text-align: center;
    padding-top: 100px;
}


.bottone-galleria
{
    float: left;
    width: 50%;
    padding-left: 60px;
    text-align: center;
    margin-top: 30px;

}

.bottone-galleria button
{
    padding:10px;
    font-size: 18px;
}

.relative
{
    position: relative;
}

.absolute
{
    position: absolute;
}

.logo-basso
{
    width: 100px;
    height: 100px;
    top: 50px;
    left: 30px;
    text-align: center
}

.quadrato
{
    width: 316px; 
    height: 316px; 
}

.rosso 
{
    background-color: brown;
}

.lightnavy
{
    background-color: aqua;
}

.centra
{
    width: 100px;
    text-align: center; 
    position: absolute; 
    transform: translate(-50% , -50%); 
    left: 50%; 
    top: 50%;
}

.solo-centra
{
    transform: translate(-50% , -50%); 
    left: 50%; 
    top: 50%;
    text-align: center;
}

aside .colonna
{
    background-color: lightgray;
    padding: 0%;
    margin: 0%;
    border: none;
    width: calc(100% / 3 );
    height: 632px;
    margin: auto;
}

/* prima del footer */

.cont-faq
{
    padding: 80px;
}
.faq
{
    list-style: none;
    font-size: 30px;
    margin: auto;
    width: 60%;
}

.faq li
{
    padding: 20px 20px 20px 0px;
    text-align: start;
    border-top: 1px solid rgba(236, 234, 234 , 0.6);
    border-bottom: 1px solid rgba(236, 234, 234 , 0.6);

}

.faq li:first-child
{
    border-top: none;
    padding-bottom: 30px;
    font-size: 34px;
}


li span 
{
}


.foot
{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color:  black;


}

.foot ul
{
    padding-left: 80px;
    padding-top: 100px;

    width: 20%;
    text-align: center;
    list-style: none;
    float: left;
}

.foot li
{
padding-bottom: 10px;
color: lightgrey;
}

hr
{
    width: 70px;
    margin-bottom: 20px;
}

.foot ul li:first-child
{
font-weight: bold;
color: white;
}




